.films {
  display: flex;
  flex-wrap: wrap;
}

.film {
  width: 216px;
  height: 384px;
  margin: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filmPoster {
  max-width: 100%;
  max-height: 100%;
}
